.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.animation {
  opacity: 0;
  animation: animate_g 2s infinite;
}
@keyframes animate_g {
  50% {
    opacity: 1;
  }
  
}

.animate-circle {
  /* fill:red;
  stroke: blue; */
  animation: animate-circle 4s infinite;
}
@keyframes animate-circle {
  25% {
    cx: 10;
    cy: 90;
    r: 5
  }
  50% {
    cx: 90;
    cy: 90;
    r: 20;
  }
  75% {
    cx: 90;
    cy: 10;
    r: 25;
  }

}
rect:first-child {
  fill: #f00;
  stroke: #00f;
  stroke-width:10;
  stroke-opacity:0.5;
  fill-opacity:0.5;

}
rect:hover {
  fill:"#345"
}
.path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}